<% if params[:id] -%>
  <h1>Редактирование новости ID=<%= params[:id] %></h1>
<% else -%>
  <h1>Добавление новости</h1>
<% end %>

<%= form_tag(:controller => "welcome", :action => params[:id] ? "edit" : "create") do -%>
 <%= label_tag(:title, "Заголовок:") %>
 <%= text_field_tag :title, params[:id] ? @news.title : nil  %>
 <br />
 
 <%= label_tag(:text, "Текст новости:") %>
 <%= text_area_tag(:text, params[:id] ? @news.text : nil, :size => "100x6") %>
 <br />
 
 <% if params[:id] -%>
   <%= hidden_field_tag 'id', params[:id] %>
   <%= submit_tag "Сохранить изменения" %>
<% else -%>
 <%= label_tag(:text, "User ID:") %>
 <%= text_field_tag :user%>
  <%= submit_tag "Добавить новость" %>
<% end %>

<% end -%>