<h1>Тестовое задание. Новостная система.</h1>
<h2>Новости, отсортированные по рейтингу и дате добавления</h2>

<% for news in @newslist -%>
 <h3><a href='/news/<%= news.id %>'><%= news.title %></a></h3>
 <p>
 <%= news.text %>
 <br/><br/>
 <i><small>Автор: <b><%= Users.find(news.user).name %></b>. Добавлено: <b><%= news.created_at %></b>. 
 	Рейтинг: <b><%= news.rating %></b></small>
 </i>
 </p>
 <hr/>
<% end %>


<h2>Авторизация</h2>
<%= form_tag(:controller => "welcome", :action => "authorization") do -%>
 E-mail: <%= text_field_tag :mail%>
 Password: <%= text_field_tag :password%>
 <br/>
 <%= submit_tag "Авторизоваться" %>
<% end -%>