<h2>Страница одной новости</h2>


<h3><%= @news.title %></h3>
 <p>
 <%= @news.text %>
 <br/><br/>
 <i><small>Автор: <b><%= Users.find(@news.user).name %></b>. Добавлено: <b><%= @news.created_at %></b>. 
 	Рейтинг: <b><%= @news.rating %></b></small>
 </i>
 </p>
 <hr/>
 


?если авторизован пользователь и это его новость
<a>Редактировать</a><br>
<a>Удалить</a>